/* Site Layout */
html {
    background-color: var(--white);
    overflow-y: scroll;
    overflow-x: clip;
}

body {
    width: 100%;
    min-height: 100vh;
    max-width: min(1280px, 100vw);
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 0;
    margin: 0 auto;
    overflow-x: clip;
    overflow: visible;
}

body > header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    padding: 1rem 0;
}

body > header .site-title {
    color: var(--red-5);
    font-weight: 800;
    align-items: center;
    text-transform: uppercase;
    gap: 0.5rem;
}

body > main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    gap: 0;
}

body > main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: var(--blue-0);
    z-index: -1;
}

body > footer {
    padding: 0;
}

/* Navigation */
nav a {
    display: flex;
    gap: 4px;
}

header nav,
footer nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

header nav ol,
header nav ul,
footer nav ol,
footer nav ul {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 400px) {
    body > header .secondary {
        display: none;
    }
}

footer nav li,
header nav li {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

nav ol,
nav ul,
nav li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    unicode-bidi: isolate;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

/* Header */

main > header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
    padding: 0;
    padding-top: 4rem;
}

header {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

header p {
    padding-left: 1.5rem;
}

hgroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

/* Section */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
    padding: 6rem 0;
}

section.compact {
    padding: 2rem 0 6rem 0;
}

/* Section Backgrounds */
.red::after,
.white::after,
.blue-invert::after,
.red-invert::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.red::after {
    background-color: var(--red-0);
}

.white::after {
    background-color: var(--white);
}

.blue-invert::after {
    background-color: var(--blue-5);
}

.red-invert::after {
    background-color: var(--red-5);
}

.red *,
.white *,
.blue-invert *,
.red-invert * {
    z-index: 1;
}

.blue-invert h3 {
    color: var(--blue-1);
}

.red-invert h3 {
    color: var(--red-1);
}

.blue-invert h1,
.blue-invert p,
.red-invert h1,
.red-invert p {
    color: var(--white);
}

.blue-invert .button,
.red-invert .button {
    color: var(--red-5);
    background-color: var(--white);
}
