{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <hgroup>
            <!-- Title -->
            {{ with .Title }}
            <h1>{{ . }}</h1>
            {{ end }}

            <div class="params">
                <!-- Location -->
                {{ with .Params.Location }}
                <h3>{{ . }}</h3>
                {{ end }}

                <h3>•</h3>

                <!-- Date -->
                {{ with .Params.Date }}
                <h3 class="date">{{ .Month }} {{ .Year }}</h3>
                {{ end }}
            </div>

            <nav class="work-nav">
                <ul>
                    <!-- Services -->
                    {{ with .GetTerms "services" }} {{ range . }}
                    <li class="service-tag">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }} {{ end }}
                </ul>
            </nav>
        </hgroup>
    </header>

    <!-- Markdown -->
    <section>{{ with .Content }}{{ . }} {{ end }}</section>

    <!-- Next Page 
    {{ with .PrevInSection }}
    <h4>Next:</h4>
    <div class="work-grid">
        <a class="work-item" href="{{ .RelPermalink }}" data-theme="light">
            {{ .Title }}
        </a>
    </div>
    {{ end }}
     -->
</main>
{{ end }}
