{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <hgroup>
            <!-- Title -->
            {{ with .Title }}
            <h1>{{ . }}</h1>
            {{ end }}
        </hgroup>

        <!-- Description -->
        {{ with .Description }}
        <p>{{ . }}</p>
        {{ end}}
    </header>

    <!-- Pages -->
    {{ with .Pages }}
    <section>
        <nav>
            <ul>
                {{ range . }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </section>
    {{ end }}
</main>
{{ end }}
