{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <hgroup>
            <!-- Title -->
            {{ with .Title }}
            <h3>{{ . }}</h3>
            {{ end }}

            <!-- Subtitle -->
            {{ with .Params.Subtitle }}
            <h1>{{ . }}</h1>
            {{ end }}
        </hgroup>

        <!-- Description -->
        {{ with .Description }}
        <p>{{ . }}</p>
        {{ end}}
    </header>

    <!-- Markdown -->
    <section>{{ with .Content }} {{ . }} {{ end }}</section>
</main>
{{ end }}
