form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 720px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input,
textarea,
.submit {
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

textarea {
    line-height: 1.5rem;
}

input:focus,
textarea:focus,
.submit:focus {
    outline: solid var(--blue-5) 2px;
}

textarea {
    height: 160px;
    resize: vertical;
}

form.subscribe {
    width: 100%;
    flex-direction: column;
}

form.subscribe div.email {
    flex-grow: 1;
    width: 100%;
    max-width: 400px;
}

form.subscribe div.email label {
    display: none;
}

form.subscribe div.message {
    display: none;
}

form.subscribe div.submit {
    padding: 0;
}

form.subscribe textarea {
    height: unset;
    resize: none;
}
