.work-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    align-items: stretch;
    justify-content: stretch;
    gap: 1.5rem;
}

.work-item {
    position: relative;
    color: var(--blue-5);
    stroke: var(--yellow-7);
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.work-item > .title {
    display: flex;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 0 8px 0 0;
    z-index: 1;
}

.work-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.2s ease-in-out;
}

.work-item:hover > img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.work-item > * {
    margin: 0;
}

.pagination li {
    color: var(--blue-2);
}

.work-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.work-nav a {
    color: var(--white);
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    background-color: var(--blue-5);
    border-radius: 8px;
}
