<!-- form -->
<form
    action="https://public.herotofu.com/v1/6d5e5930-cfa4-11ee-b355-cff7da8a1e7a"
    method="post"
    accept-charset="UTF-8"
>
    <!-- name -->
    <div>
        <label for="name">Name</label>
        <input name="Name" id="name" type="text" />
    </div>

    <!-- email -->
    <div>
        <label for="email">Email</label>
        <input
            name="Email"
            id="email"
            type="email"
            required
            oninvalid="setCustomValidity('This field is required')"
        />
    </div>

    <!-- message -->
    <div>
        <label for="message">Message</label>
        <textarea
            name="Message"
            id="message"
            type="text"
            required
            oninvalid="setCustomValidity('This field is required')"
        ></textarea>
    </div>

    <!-- submit -->
    <div>
        <input class="button" type="submit" value="Send" />
    </div>
</form>
